*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* nav bar */

#nav{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: black;
}
#nav div:nth-of-type(1){
    /* border: 2px solid red; */
    margin-top: 14px;
    margin-left: 87px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 350px;
}
#nav div:nth-of-type(2){
    /* border: 2px solid red; */
    margin-right: 100px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    height: 35px;
    width: 340px;
}
#nav div:nth-of-type(1) button{
    background-color: black;
    border: black;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
}
#nav div:nth-of-type(2) button{
    background-color: black;
    border: black;
    color: white;
    font-size: 13px;
    font-weight: 600;
}
#nav div:nth-of-type(2) button:nth-of-type(1){
    background-color: rgb(40, 40, 40);
    margin-top: 3px;
    padding: 10px 20px;
}
#nav div:nth-of-type(2) button:nth-of-type(2){
    background-color: white;
    color: black;
    margin-top: 3px;
    padding: 10px 20px;
}
#nav div:nth-of-type(2) button:nth-of-type(3){
    /* border: 2px solid red; */
    font-size: 30px;
    margin-top: 5px;
}

/* section1 */

#sec1{
    border: 2px solid black;
    height: 42vh;
    background-image: url(./images/hero-banner.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
   
}
#sec1 h1{
    /* border: 2px solid red; */
    color:#fff;
    width: 400px;
    margin-top: 40px;
    margin-left: 240px;
    font-size: 48px;
    font-weight: 600;
    line-height: 3rem;
     font-family: 'gentonamedium';
}
#sec1 #dro{
    /* border: 2px solid red; */
    background-color: white;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    padding: 8px;
}
#sec1 #dro button{
    font-size: 12px;
    font-weight: 600;
    margin-left: 30px;
    background-color: transparent;
    border: transparent;
}

/* section 2 */

#sec2 #loco{
    /* border: 2px solid blue; */
    position: absolute;
    top: 282px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 241.5px;
    background: #F2F4F6;
    padding: 27px;
}
#sec2 #loco div{
    /* border: 2px solid red; */
    background: #F2F4F6;
    width: 280px;
}

#sec2 #loco div input{
    border: 1px solid rgba(0, 0, 0, 0.2);
     padding: 15px ;
     font-size: 15px;
    font-weight: 500;
    color: black;
    
}
#sec2 #loco  img{
   /* border: 2px solid red;  */
   position: absolute;
   left: 200px;
   margin-top: 15px;
}
#sec2 hr{
    height: 2px;
    width: 65px;
    margin-left: 210px;
    margin-top: -25px;
}

#sec2 #loco div button{
    height: 56px;
    width: 290px;
    background: url(https://s3-ap-southeast-1.amazonaws.com/ola-prod-website/ola_cabs_back.svg) no-repeat bottom, radial-gradient(127.68% 2996.56% at 12.65% 127.68%, #000000 0%, #222222 100%);
    color: white;
    border-radius: 0px;
    font-size: 17px;
    font-weight: 600;
    padding: 0px 16px;
    box-shadow: -3px 3px #32c86e;
    border: none;
    display: flex;
    align-items: center;
}
#sec2 #loco div button span:nth-of-type(2){
    color: rgb(77, 231, 77);
    margin-left: 10px;
}
#sec2 #bike img{
    width: 67.5%;
    margin-left: 241px;
    margin-top: 115px;
}

/* section 3 */
#sec3{
    /* border: 2px solid black; */
    /* height: 100vh; */
}
#sec3 #h1{
    /* border: 2px solid red; */
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    font-size: 45px;
    margin-top: 80px;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
}
#sec3 #middle{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 230px;
    margin-top: 70px;
    text-align: center;
}
#sec3 #middle img{
    height: 130px;
}
#sec3 #middle h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 3rem;
}
#sec3 #middle h2{
     font-size: 30px;
    font-weight: 600;
    line-height: 3rem;
}
#sec3 #middle p{
    font-weight: 400;
    line-height: 1.5rem;
}

/* section 4 */
#sec4{
    /* border: 2px solid black; */
    /* height: 80vh; */
}
#sec4 #h1{
    /* border: 2px solid red; */
    margin-left: 180px;
    font-weight: 550;
    line-height: 1.1;
    font-size: 45px;
    margin-top: 380px;
    font-family: sans-serif;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
}
#sec4 #middle{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 180px;
    margin-top: 40px;
    text-align: left;
}
#sec4 #middle div{
    /* border: 2px solid; */
    padding-left: 20px;
}
#sec4 #middle img{
    /* border: 2px solid blue; */
    height: 250px;
    width: 250px;
}
#sec4 #middle h5{
   font-size: 24px;
    line-height: 48px;
    /* font-family: 'gentonamedium'; */
    letter-spacing: -0.01em;
    color: #000000;
}
#sec4 #middle p{
font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.6)
}

/* section 5 */

#sec5{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 150px;
    margin-left: 150px;
}
#sec5 div:nth-of-type(1) video{
    /* border: 2px solid red; */
    height: 650px;
    width: 478px;
}
#sec5 #middle{
    /* border: 2px solid blue; */
    /* height: 300px; */
    /* width: 400px; */
    margin-top: 100px;
    position: relative;
   margin-left: 50px;
}
#sec5 #middle h1{
    font-size: 48px;
    /* font-family: 'gentonamedium'; */
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    color: #000000;
    font-weight: normal;
    letter-spacing: -1px;
}
#sec5 #side-bar{
    border-left: 6px solid green;
     margin-top: 30px;
}
#sec5 #middle h5{
    
    /* padding-top: 30px; */
    padding-left: 45px;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
}
#sec5 #middle p{
    font-size: 20px;
    padding-left: 45px;
    line-height: 2rem;
    color: rgb(0 0 0 / 70%);
}
#sec5 #side-bar2{
    border-left: 6px solid green;
     margin-top: 30px;
     
}

/* section 6 */
#sec6M{
    /* border: 2px solid black; */
    background: rgb(241, 246, 233);
    height: 100vh;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}
#sec6{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 100vh;
    margin-left: 200px;
    align-items: center;
}
#sec6 #img{
    /* border: 2px solid blue; */
    margin-top: 120px;
}
#sec6 #img h1{
    font-size: 45px;
    line-height: 2.4rem;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
}
#sec6 #img img{
    /* border: 2px solid red; */
    height: 250px;
    width: 400px;
    margin-top: 30px;
}
#sec6 #middle{
    /* border: 2px solid red; */
    margin-top: 170px;
}
#sec6 #middle #p{
    display: flex;
    margin-top: 50px;
}
#sec6 #middle #p p:nth-of-type(1){
    font-size: 20px;
    font-weight: 400;
}
#sec6 #middle #p p:nth-of-type(2){
    background-color: #c3e7d1;
    color: #32c86e;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
}
#sec6 #middle h3{
    font-size: 23px;
    font-weight: 560;
    padding-top: 20px;
}
#sec6 #middle #pics{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;
}
#sec6 #middle #pics p{
    font-size: 15px;
    font-weight: 500;
    padding-top: 15px;
    line-height: 1.5rem;
}

/* section 7 */

#sec7{
    background: rgb(241, 246, 233);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    height: 60vh;
    
}
#sec7 #middle{
    /* border: 2px solid red; */
    width: 67%;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}
#sec7 #middle div:nth-of-type(1){
    /* border: 2px solid; */
    margin-top: 50px;
}
#sec7 #middle div:nth-of-type(1) p:first-child{
    font-size: 20px;
}
#sec7 #middle div:nth-of-type(1) h4{
    font-size: 22px;
    font-weight: 550;
    padding-top: 50px;
}
#sec7 #middle div:nth-of-type(1) p:last-child{
    padding-top: 30px;
}
#sec7 #middle div:nth-of-type(1) a{
    font-size: 20px;
    color: #13b654;
    font-weight: 600;
}
#sec7 img{
    /* border: 2px solid; */
    height: 150px;
    width: 150px;
    margin-top: 50px;
}
#sec7 img+img{
    margin-left: 20px;
}
#sec7 #img p{
    padding-left: 420px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: rgb(0 0 0 / 70%);
}
#sec7 a{
    text-decoration: none;
}

/* section 8 */

#sec8{
    /* border: 2px solid ; */
   margin-left: 200px;
}
#sec8 h1{
    font-size: 40px;
    font-weight: 600;
     text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    margin-top: 140px;
}
#sec8 #middle{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
}
#sec8 #middle p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #5c5c5c;

}
#sec8 #middle #h3{
   font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-top: 60px;
    font-weight: normal;
    margin-left: 20px;
}
#sec8 #middle #h3 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #212026;
    opacity: 0.64;
}
#sec8 #middle #h3-2{
   font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #000000;
   margin-left: 20px;
   padding-top: 60px;
    font-weight: normal;
}
#sec8 #middle #h3-2 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #212026;
    opacity: 0.64;
    letter-spacing: -0.01em;
}
#sec8 #btm{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63%;
    margin-top: 40px;
}
#sec8 #btm div:nth-of-type(1) img:nth-of-type(2){
    padding-top: 18px;
}
#sec8 #btm div:nth-of-type(2) img{
    height:490px ;
    padding-left: 20px;
}
#sec8 p:last-child{
    margin-top: 30px;
}
#sec8 a{
    text-decoration: none;
    font-size: 20px;
    color: #13b654;
    font-weight: 550;
}

/* section 9 */
#sec9{
    /* border: 2px solid ; */
    width: 63%;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
}
#sec9 div:first-child img{
    /* border: 2px solid red; */
    height: 500px;
    border-radius: 10px;
}
#sec9 div:first-child p{
    font-size: 14px;
    font-weight: 500;
    padding: 7px;
    color: #5f5d5d;
}
#sec9 div:last-child{
    /* border: 2px solid blue; */
    margin-top: 20px;
}
#sec9 div:last-child p{
    font-size: 22px;
    padding-top: 30px;
}
#sec9 div:last-child h4{
    font-size: 22px;
    padding-top: 30px;
}
#sec9 div:last-child h1{
    font-size: 42.7px;
    padding-top: 10px;
    padding-left: 10px;
     text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
}
#sec9 div:last-child p:last-child{
    font-size: 20px;
    padding-top: 30px;
    font-weight: 550;
}
#sec9 div:last-child a{
    text-decoration: none;
    color: #13b654;
}

/* section 10 */

#sec10{
    background: rgb(242, 244, 240);
    height: 145vh;
    margin-top: 100px;
    clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%);
    
}
#sec10 h1{
     margin-left: 200px;
    padding-top: 200px;
    font-size: 45px;
    font-weight: 550;
}
#sec10 #middle{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-left: 200px;
    width: 68%;
}
#sec10 #middle div img{
    height: 250px;
    width: 270px;
}
#sec10 #middle div h4{
    font-size: 20px;
    padding-top: 15px;
}
#sec10 #middle div p{
    font-size: 15px;
    font-weight: 550;
    padding-top: 15px;
}
#sec10 #middle div a{
    text-decoration: none;
    color: #13b654;
}

/* section 11 */

#sec11{
    border: 2px solid white;
    height: 125vh;
}
#sec11 h1{
    font-size: 45px;
    line-height: 2.5rem;
    margin-left: 200px;
    margin-top: 140px;
}
#sec11 #middle{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 200px;
    width: 49%;
}
#sec11 #middle div:nth-of-type(1){
    /* border: 2px solid blue; */
   background: radial-gradient(100% 100% at 28.66% 0%, #F9FCF4 0%, #E0E6D8 100%);
    padding: 40px;
}
#sec11 #middle div:nth-of-type(2){
    /* border: 2px solid blue; */
    background: radial-gradient(100% 100% at 28.66% 0%, #F9FCF4 0%, #E0E6D8 100%);
    padding: 40px;
    margin-left: 50px;
}
#sec11 #middle div h3{
    padding-top: 20px;
    font-size: 23px;
}
#sec11 #middle div p{
    padding-top: 20px;
    font-size: 16px;
}

/* footer */

#footer{
    border: 2px solid white;
    background: #F2F4F6;
    height: 78vh;
    /* display: flex;
    justify-content: space-between; */
    clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0% 100%);
}
#footer #middle{
    /* border: 2px solid red; */
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    width: 41%;
    margin-top: 120px;
}
#footer #middle #img{
    /* border: 2px solid; */
    color: #000000;
    height: 30px;
}
#footer #social{
    /* border: 2px solid; */
}
#footer #social img{
    /* border: 2px solid blue; */
}
#footer #social img+img{
    margin-left: 30px;
}
#footer #middle div:nth-of-type(1){
    /* border: 2px solid ; */
    height: 17px;
    margin-top: 60px;
    position: relative;
    right: 61px;
    display: flex;
    justify-content: space-between;
    width: 120px;
}
#footer #middle ul:nth-of-type(1){
    /* border: 2px solid ; */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7rem;
}
#footer #middle ul:nth-of-type(2){
    /* border: 2px solid ; */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7rem;
    margin-left: 50px;
}
#footer #middle ul:nth-of-type(3){
    /* border: 2px solid ; */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7rem;
    margin-left: 50px;
}
#footer hr{
    margin-top: 20px;
}
#footer #last{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 180px ;
    margin-top: 20px;
    color: rgba(0, 0, 0, .3);
}
#footer #last p{
    font-size: 12px;
        color: rgba(0, 0, 0, .3);
}
#footer #last div:nth-of-type(2){
    /* border: 2px solid; */
    width: 350px;
    /* margin-left: 50px; */
    font-size: 12px;
    font-weight: 550;
    color: rgba(0, 0, 0, .3);
}
#footer #last a{
    color: #605c5c;
    font-size: 11px;
    padding-left: 25px;
}