@import url(./yatra1.css);
header{
    /* border: 2px solid; */
    background-image: url(./images/homeBg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 110vh;
    width: 100vw;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#nav{
    /* border: 2px solid; */
    height: 100px;
    background-color:transparent ;
    
}
#sub-nav{
    /* border: 2px solid; */
    margin: auto;
    width: 75%;
}
#sub-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 30px;
}
#sub-nav li button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 400;     
}
#sub-nav li button:hover{
     color: rgb(252 195 44)
}
#sub-nav #yellow{
     color: rgb(252 195 44)
}
#marquee{
    /* border: 2px solid;  */
    background-color: black;
    color: white;   
}
#marquee-1{
    /* border: 2px solid red; */
    margin: auto;
    width: 56%; 
    list-style: disc;
    height: 50px;
    display: flex;
    align-items: center;
    
}
#img{
    height: 50px;
    padding-top: 15px;
}
#button{
    border: none;
    background-color: transparent;
    color: white;
    padding-top: 15px;    
}
#button:hover{
    border-radius: 50px;
    background-color: white;
    color: black;
    height: 30px;
    width: 100px;
    text-align: center;
}

