.faq-item {
  margin-bottom: 20px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-left: 160px;
  margin-top: 50px;
}
details summary {
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-left: 160px;
  margin-top: 50px;
  height:95px  ;
}
details p {
  margin-top: 10px;
  color: #333;
  padding-left: 20px;
  margin-left: 160px;
  margin-top: 50px;
}
